@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(65, 30, 112);
  color: rgb(10, 100, 58);
  text-align: center;
  margin-top: 100px;
}